Repository ravnhq/Mantine-UI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint:ts

feat: add customizable footer with links
  .storybook/main.ts
  _mantine.scss
  src/components/footers/footer-links/footer-links.module.scss
  src/components/footers/footer-links/footer-links.tsx
  src/components/footers/footer-links/footer-links.types.ts
  src/components/footers/footer-links/index.ts
  src/components/footers/index.ts
  src/components/headers/header-mega-menu/header-mega-menu.module.scss
  src/stories/footer-links.stories.ts
Due: yarn format, yarn lint:ts

chore: change button order
  src/components/headers/header-mega-menu/header-mega-menu.tsx
Due: yarn format, yarn lint:ts

fix: naming on interface link
  src/components/footers/footer-links/footer-links.types.ts
Due: yarn format, yarn lint:ts

feat: add customizable footer with links (#3)
  .storybook/main.ts
  _mantine.scss
  src/components/footers/footer-links/footer-links.module.scss
  src/components/footers/footer-links/footer-links.tsx
  src/components/footers/footer-links/footer-links.types.ts
  src/components/footers/footer-links/index.ts
  src/components/footers/index.ts
  src/components/headers/header-mega-menu/header-mega-menu.module.scss
  src/stories/footer-links.stories.ts
Due: yarn format, yarn lint:ts

chore: adds bundler config
  .eslintignore
  .gitignore
  _mantine.scss
  package-lock.json
  package.json
  rollup.config.js
  src/components/footers/footer-links/footer-links.module.scss
  src/components/headers/header-mega-menu/header-mega-menu.module.scss
  src/components/index.ts
  tsconfig.rollup.json
Due: yarn format, yarn lint:ts

chore: fixes rollup config and dependencies
  package-lock.json
  package.json
  rollup.config.js
Due: yarn format, yarn lint:ts

chore: fixes dts for rollup
  rollup.config.js
Due: yarn format, yarn lint:ts

chore: change logic on component to be reusable
  src/components/headers/header-mega-menu/header-mega-menu.tsx
  src/components/headers/header-mega-menu/header-mega-menu.types.ts
Due: yarn format, yarn lint:ts

chore: fixes config for bundling
  .gitignore
  .npmignore
  package.json
Due: none

chore: adds css to mantine scss config
  _mantine.scss
Due: yarn format

chore: organizing bundle scripts
  package.json
Due: none

chore: fixes rollup css bundle
  package-lock.json
  package.json
  rollup.config.js
Due: yarn format, yarn lint:ts

chore: update style on menu
  _mantine.scss
  src/components/footers/footer-links/footer-links.module.scss
  src/components/headers/header-mega-menu/header-mega-menu.module.scss
  src/components/headers/header-mega-menu/header-mega-menu.tsx
  src/components/headers/header-mega-menu/header-mega-menu.types.ts
  src/stories/header-mega-menu.stories.ts
  src/stories/header-mega-menu.stories.tsx
Due: yarn format, yarn lint:ts

feat(MANUI-12): Rollup config for bundling (#4)
  .eslintignore
  .gitignore
  .npmignore
  _mantine.scss
  package-lock.json
  package.json
  rollup.config.js
  src/components/footers/footer-links/footer-links.module.scss
  src/components/headers/header-mega-menu/header-mega-menu.module.scss
  src/components/index.ts
  tsconfig.rollup.json
Due: yarn format, yarn lint:ts

chore: change settings on lint config
  .lintstagedrc.json
Due: none

fix: fixes package.json
  package-lock.json
  package.json
Due: none

fix: fixes package json config (#7)
  package-lock.json
  package.json
  rollup.config.js
Due: yarn format, yarn lint:ts

feat: change custom footer logic
  src/components/footers/footer-links/footer-links.tsx
  src/components/footers/footer-links/footer-links.types.ts
  src/stories/footer-links.stories.ts
  src/stories/footer-links.stories.tsx
Due: yarn format, yarn lint:ts

chore: change logic on items
  src/components/headers/header-mega-menu/header-mega-menu.tsx
  src/components/headers/header-mega-menu/header-mega-menu.types.ts
  src/stories/header-mega-menu.stories.tsx
Due: yarn format, yarn lint:ts

chore: add types to footer story values
  src/stories/footer-links.stories.tsx
Due: yarn format, yarn lint:ts

feat(MANUI-14): Change custom footer logic (#8)
  src/components/footers/footer-links/footer-links.tsx
  src/components/footers/footer-links/footer-links.types.ts
  src/stories/footer-links.stories.ts
  src/stories/footer-links.stories.tsx
Due: yarn format, yarn lint:ts

feat(MANUI-13): Improvement generic header component (#5)
  .lintstagedrc.json
  src/components/headers/header-mega-menu/header-mega-menu.module.scss
  src/components/headers/header-mega-menu/header-mega-menu.tsx
  src/components/headers/header-mega-menu/header-mega-menu.types.ts
  src/stories/header-mega-menu.stories.ts
  src/stories/header-mega-menu.stories.tsx
Due: yarn format, yarn lint:ts

chore: remove vars for breakpoints
  _mantine.scss
Due: yarn format

feat: add custom hero component with content left
  src/components/hero/hero-content-left/hero-content-left.module.scss
  src/components/hero/hero-content-left/hero-content-left.tsx
  src/components/hero/hero-content-left/hero-content-left.types.ts
  src/components/hero/hero-content-left/index.ts
  src/components/hero/index.ts
  src/stories/hero-content-left.stories.tsx
Due: yarn format, yarn lint:ts

feat: add comment component with html content
  src/components/comments/comment-html-content/comment-html-content.module.scss
  src/components/comments/comment-html-content/comment-html-content.tsx
  src/components/comments/comment-html-content/comment-html-content.types.ts
  src/components/comments/comment-html-content/index.ts
  src/components/comments/index.ts
  src/stories/comment-html-content.stories.tsx
Due: yarn format, yarn lint:ts

feat: add background image as a prop
  src/components/hero/hero-content-left/hero-content-left.tsx
  src/components/hero/hero-content-left/hero-content-left.types.ts
  src/stories/hero-content-left.stories.tsx
Due: yarn format, yarn lint:ts

feat: add hero with image on the right component
  src/components/hero/hero-image-right/hero-image-right.module.scss
  src/components/hero/hero-image-right/hero-image-right.tsx
  src/components/hero/hero-image-right/index.ts
  src/components/hero/index.ts
  src/components/index.ts
  src/stories/hero-image-right.stories.tsx
Due: yarn format, yarn lint:ts

feat: implement vanilla extract to project
  .storybook/main.ts
  package-lock.json
  package.json
  rollup.config.js
  src/components/footers/footer-links/footer-links.css.ts
  src/components/footers/footer-links/footer-links.module.scss
  src/components/footers/footer-links/footer-links.tsx
  src/components/headers/header-mega-menu/header-mega-menu.css.ts
  src/components/headers/header-mega-menu/header-mega-menu.module.scss
  src/components/headers/header-mega-menu/header-mega-menu.tsx
  src/theme.ts
Due: yarn format, yarn lint:ts

Path conditions:
  yarn format: any of: *.{js,jsx,ts,tsx,css,scss,html,md,yml}
  yarn lint:ts: any of: *.{js,jsx,ts,tsx}
